.montserrat
  font-family 'Montserrat', sans-serif

.roboto
  font-family 'Roboto Condensed', sans-serif

.montserrat_thin
  @extend .montserrat
  font-weight $thin

.montserrat_extralight
  @extend .montserrat
  font-weight $extralight

.montserrat_light
  @extend .montserrat
  font-weight $light

.montserrat_regular
  @extend .montserrat
  font-weight $regular

.montserrat_medium
  @extend .montserrat
  font-weight $medium

.montserrat_semibold
  @extend .montserrat
  font-weight $semibold

.montserrat_bold
  @extend .montserrat
  font-weight $bold

.montserrat_extrabold
  @extend .montserrat
  font-weight $extrabold

.montserrat_black
  @extend .montserrat
  font-weight $black

.roboto_light
  @extend .roboto
  font-weight $light

.roboto_regular
  @extend .roboto
  font-weight $regular

.roboto_bold
  @extend .roboto
  font-weight $bold