@media screen and (max-width: 480px)
  h1
    font-size 1.5rem
  h2
    font-size 1.2rem
  h3
    font-size 1rem
  h4
    font-size 0.83rem
  h5
    font-size 0.83rem
  .site_cover
    background-position 42% 102%
    background-repeat no-repeat
    background-size 280%
    padding 45% 6% 20% 6%
  .cover_blockquote
    margin-left 0
  .cover_about
    width auto
    a
      width 135px
      height 33px
      img
        width 135px
  .cv-heading
    padding 0 20px
    line-height 1.5
  .skills_wrapper
    .skills_blockquote
      padding 0 20px
      &:after
        width 90%
      &:before
        width 50%
  .projects_wrapper
    width 100%
    ul
      padding 0 27px
    li
      perspective 340px
      width 170px
      height 170px
      .project_info
        total-center()
        p
          display none
  .footer_container
    padding 10% 7% 3% 7%
    .footer_social-media
      .media_icon-wrapper
        width 50px
        height 50px
        font-size 1.5rem
/*
@media screen and (max-width: 768px)

@media screen and (max-width 992px)*/
