$darkBase = #002224
$darkBaseRGB = 0, 34, 36

$mainDetail = #E56450
$mainDetailRGB = 229, 100, 80

$secondDetail = #1B998B
$secondDetailRGB = 27, 153, 139

$lightBase = #FCFCFC
$lightBaseRGB = 252, 252, 252

$baseFontSize = 16px

$thin = 100
$extralight = 200
$light = 300
$regular = 400
$medium = 500
$semibold = 600
$bold = 700
$extrabold = 800
$black = 900


$duration = 300ms
$timing-fn = ease
